<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.proMapper">

	<!-- 게시글 작성 -->
	<insert id="insertProduct" parameterType="ProductDTO">
		INSERT INTO user_board (
		board_id,
		board_date,
		board_title,
		board_price,
		board_text,
		board_img,
		board_likes,
		board_soldout,
		board_click ,
		loc_code ,
		detail_loc ,
		user_code ,
		user_nickname
		)
		VALUES (seq_board_id.nextval,
		sysdate,
		#{board_Title} ,
		#{board_Price} ,
		#{board_Text} ,
		#{board_Img} ,
		#{board_Likes} ,
		#{board_Soldout} ,
		#{board_Click} ,
		#{loc_code} ,
		#{detail_loc} ,
		#{user_code} ,
		#{user_nickname})

	</insert>
	<!-- 게시글 전체 보기 -->
	<select id="selectAll" resultType="ProductDTO">
		SELECT
		board_id,
		TO_CHAR(board_date, 'MM/DD HH24:MI') AS board_date,
		board_title,
		board_price,
		board_text,
		board_img,
		board_likes,
		board_soldout,
		board_click,
		loc_code,
		detail_loc,
		user_code ,
		user_nickname
		FROM user_board
		ORDER BY board_date DESC
	</select>
	<!-- 게시글 상세 보기 -->
	<select id="selectProImagesById" resultType="ProductDTO">
		SELECT
		ub.board_id,
		TO_CHAR(ub.board_date, 'MM/DD HH24:MI') AS board_date,
		ub.board_title,
		ub.board_price,
		ub.board_text,
		ub.board_img,
		ub.board_likes,
		ub.board_soldout,
		ub.board_click,
		ub.loc_code,
		ub.detail_loc,
		ub.user_code ,
		ub.user_nickname
		FROM user_board ub
		WHERE ub.board_id = #{boardId}
	</select>


	<!-- 게시글 수정 -->

	<update id="updateProduct" parameterType="ProductDTO">
		UPDATE user_board
		SET

		board_title = #{board_Title},
		board_price = #{board_Price},
		board_text = #{board_Text},
		board_img = #{board_Img},

		loc_code = #{loc_code},
		detail_loc = #{detail_loc},
		user_code = #{user_code},
		user_nickname = #{user_nickname}
		WHERE board_id = #{board_Id}
	</update>

	<!-- 게시글삭제 -->
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM user_board
		WHERE board_id = #{board_id}
	</delete>


	<!-- 조회수 +1 -->

	<update id="increaseClick" parameterType="String">
		UPDATE user_board
		SET board_click = board_click + 1
		WHERE board_id = #{boardId}
	</update>

	<!-- 끌어올리기 -->


	<update id="updateDate" parameterType="Map">
		UPDATE user_board
		SET board_date = sysdate
		WHERE board_id = #{boardId}
	</update>


	<!-- 카테고리영역 -->

	<select id="getAllCategory" resultType="cateDTO"
		parameterType="String">
		SELECT loc_code, detail_loc FROM cate where loc_code= #{loc_code}
	</select>
	<select id="getAllCategories" resultType="cateDTO"
		parameterType="String">
		SELECT loc_code, detail_loc FROM cate where loc_code= #{loc_code}
	</select>


	<insert id="insertLike" parameterType="ProductDTO">
		INSERT INTO board_like (like_id, board_id, user_code)
		VALUES (seq_board_like.nextval,#{board_Id}, #{user_code})
	</insert>

	<select id="getLikeCount" parameterType="String"
		resultType="int">
		SELECT COUNT(*) AS likeCount
		FROM board_like
		WHERE board_id = #{boardId}
	</select>





</mapper>
